
<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= homeContent  %> </p>
<% Posts.forEach(function(post){ %>
  <h3><%= post.title %> </h3>
  <p> <%= post.content.substring(0,200) +" ..."  %>
  <a href="/posts/<%=post.id%>" >Read more</a>
  </p>

<% }) %>



<%- include("partials/footer") -%>
